<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/navbar.css">
    <link rel="stylesheet" type="text/css" href="css/index.css">
  </head>
  <body>
    <div class="fondo"></div> 
    <header>
        <nav class="navbar navbar-expand-lg">
            <img src="https://i.pinimg.com/originals/bc/58/81/bc5881b3a51d6df4119d9480da6c0330.jpg" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}"
                alt="" height="60px" width="60px">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <ul class="menu">
                        <li><a href="index.html">Inicio</a></li>
                        <li><a href="">Categorias</a>
                            <ul class="submenu">
                                <li><a href="paginaProcesadores.html">Procesadores</a></li>
                                <li><a href="paginaTarjetasGraficas.html">Tarjetas Graficas</a></li>
                                <li><a href="paginaNotebooks.html">Notebooks</a></li>
                                <li><a href="paginaMouses.html">Mouses</a></li>
                                <li><a href="paginaDiscosSSD.html">Discos SSD</a></li>
                                <li><a href="paginaTeclados.html">Teclados</a></li>
                            </ul>
                        </li>
                    </ul>
                   
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
    </header>

    <div class="container">
        <div class="row">
            <div class="col pt-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-header">
                        <input  src="https://www.winpy.cl/files/w17408_100-100000031box.jpg" type="image" style="height: 10rem" onclick = "location='paginaTeclados.html'">
                        <h3 class="card-title" style="height: 2rem">Procesadores</h3>
                    </div>
                    
                </div>
            </div>

            <div class="col pt-4" >
                <div class="card" style="width: 18rem;">
                    <div class="card-header">
                        <input  src="https://www.muycomputer.com/wp-content/uploads/2019/02/tarjetas-gr%C3%A1ficas-baratas-2.jpg" type="image" style="height: 10rem" onclick = "location='paginaTarjetasGraficas.html'">
                        <h3 class="card-title" style="height: 2rem">Tarjetas Graficas</h3>
                    </div>
                    
                </div>
            </div>

            <div class="col pt-4" >
                <div class="card" style="width: 18rem;">
                    <div class="card-header">
                        <input  src="https://sodimac.scene7.com/is/image//SodimacCL/5306914" type="image" style="height: 10rem" onclick = "location='paginaNotebooks.html'">
                        <h3 class="card-title" style="height: 2rem">Notebooks</h3>
                    </div>
                    
                </div>
            </div>

            <div class="col pt-4" >
                <div class="card" style="width: 18rem;">
                    <div class="card-header">
                        <input  src="https://www.dhresource.com/0x0/f2/albu/g7/M01/47/AB/rBVaSVr0HcaACJ7oAAIefqNqaiI569.jpg" type="image" style="height: 10rem" onclick = "location='paginaMouses.html'">
                        <h3 class="card-title" style="height: 2rem">Mouses</h3>
                    </div>
                    
                </div>
            </div>

            <div class="col pt-4" >
                <div class="card" style="width: 18rem;">
                    <div class="card-header">
                        <input  src="https://www.maclife.cl/image/cache/catalog/almacenamiento-y-memoria/Almacenamiento/discos-ssd/disco-ssd-crucial-mx-serie-500x500.jpg" type="image" style="height: 10rem" onclick = "location='paginaDiscosSSD.html'">
                        <h3 class="card-title" style="height: 2rem">Discos SSD</h3>
                    </div>
                    
                </div>
            </div>
            <div class="col pt-4" >
                <div class="card" style="width: 18rem;">
                    <div class="card-header">
                        <input  src="https://www.lapolar.cl/dw/image/v2/BCPP_PRD/on/demandware.static/-/Sites-master-catalog/default/dwf418e6a1/images/large/22348779.jpg?sw=1200&sh=1200&sm=fit" type="image" style="height: 10rem" onclick = "location='paginaTeclados.html'">
                        <h3 class="card-title" style="height: 2rem">Teclados</h3>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>


      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>