<!doctype html>
<html>
  <head>
    <title>DiscosSSD</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/navbar.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>
     <div class="fondo"></div> 
     <header>
        <nav class="navbar navbar-expand-lg">
            <img src="https://i.pinimg.com/originals/bc/58/81/bc5881b3a51d6df4119d9480da6c0330.jpg" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}"
                alt="" height="60px" width="60px">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <ul class="menu">
                        <li><a href="index.html">Inicio</a></li>
                        <li><a href="">Categorias</a>
                            <ul class="submenu">
                                <li><a href="paginaProcesadores.html">Procesadores</a></li>
                                <li><a href="paginaTarjetasGraficas.html">Tarjetas Graficas</a></li>
                                <li><a href="paginaNotebooks.html">Notebooks</a></li>
                                <li><a href="paginaMouses.html">Mouses</a></li>
                                <li><a href="paginaDiscosSSD.html">Discos SSD</a></li>
                                <li><a href="paginaTeclados.html">Teclados</a></li>
                            </ul>
                        </li>
                    </ul>
                   
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
    </header>


    <div class="container">
        <div class="row pt-5">
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <div class="card-header">
                        <p class="marca">KINGSTON ®</p>
                        <h3 class="card-title" style="height: 8rem">Unidad SSD 960GB Sata3 2.5" HyperX Fury RGB</h3>
                        <img src="https://www.pcfactory.cl/public/foto/34955/1_500.jpg?t=1569879145" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body">
                        <h4 class="card-text">Precio</h4>
                        <h3 class="card-precio">$159.990</h3>
                        <div class="boton">
                            <a href="#" class="btn btn-primary">Agregar Al Carro</a>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col ">
                <div class="card"  style="max-width: 18rem">
                    <div class="card-header">
                        <p class="marca">XPG ®</p>
                        <h3 class="card-title " style="height: 8rem">Unidad SSD 1TB PCIe NVMe M.2 Spectrix S40G RGB</h3>
                        <img src="https://www.pcfactory.cl/public/foto/35025/1_500.jpg?t=1568060153" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body">
                        <h4 class="card-text">Precio</h4>
                        <h3 class="card-precio">$164.990</h3>
                        <div class="boton">
                            <a href="#" class="btn btn-primary">Agregar Al Carro</a>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col ">
                <div class="card" style="width: 18rem;">
                    <div class="card-header">
                        <p class="marca">GYGABYTE ®</p>
                        <h3 class="card-title" style="height: 8rem">Unidad SSD 500GB PCIe NVMe Gen4 M.2 Aorus</h3>
                        <img src="https://www.pcfactory.cl/public/foto/35272/1_500.jpg?t=1572889733" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body">
                        <h4 class="card-text">Precio</h4>
                        <h3 class="card-precio">$169.990</h3>
                        <div class="boton">
                            <a href="#" class="btn btn-primary">Agregar Al Carro</a>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col ">
                <div class="card" style="width: 18rem;">
                    <div class="card-header">
                        <p class="marca">KINGSTON ®</p>
                        <h3 class="card-title" style="height: 8rem">Unidad SSD 1TB PCIe NVME M.2 A2000</h3>
                        <img src="https://www.pcfactory.cl/public/foto/34847/1_500.jpg?t=1571065720" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body">
                        <h4 class="card-text">Precio</h4>
                        <h3 class="card-precio">$184.990</h3>
                        <div class="boton">
                            <a href="#" class="btn btn-primary">Agregar Al Carro</a>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card" style="width: 18rem;">
                    <div class="card-header">
                        <p class="marca">WD ®</p>
                        <h3 class="card-title" style="height: 8rem">Unidad SSD 1TB PCIe NVMe M.2 SN750 Black</h3>
                        <img src="https://www.pcfactory.cl/public/foto/33293/1_500.jpg?t=1560197721" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body">
                        <h4 class="card-text">Precio</h4>
                        <h3 class="card-precio">$189.990</h3>
                        <div class="boton">
                            <a href="#" class="btn btn-primary">Agregar Al Carro</a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <div class="card-header">
                        <p class="marca">CRUCIAL ®</p>
                        <h3 class="card-title" style="height: 8rem">Unidad SSD 2TB Sata3 2.5" MX500</h3>
                        <img src="https://www.pcfactory.cl/public/foto/28149/1_500.jpg?t=1518640484" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body">
                        <h4 class="card-text color-blue">Precio</h4>
                        <h3 class="card-precio">$249.990</h3>
                        <div class="boton">
                            <a href="#" class="btn btn-primary">Agregar Al Carro</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card-inferior">
        <nav aria-label="">
            <ul class="pagination">
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
                <li class="page-item"><a class="page-link" href="#">6</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>
    </div>


    <footer>


    </footer>



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>